.prof {
    color: #ff3232;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    font-size: 48px;
}
.exp {
    font-size: 18px;
}